{% extends 'base.html.twig' %}

{% block title %}My first React page{% endblock %}

{% block body %}
    {# Main React div with exact id #}
    <div id="main"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="build/js/app.js"></script>
{% endblock %}